body{
    line-height: 1.5;
    font-family: 'Open Sans', arial, sans-serif;
    color: #37340a;
}

a{
    transition: all 0.5s ease, border 0.3s linear;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #49bf9f;
}
a:hover{
    border-bottom-color: transparent;
}

p{
   margin: 0 0 2em; 
}

h1, h2, h3, h4, h5, h6{
    color: #37340a;
    /* em => espaçamento de acordo com o tamanho */
    margin: 1em 0; 
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 14px;
}

h6{
    font-size: 12px;
}

sub, sup{
    font-size: 12px;
}

blockquote{
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: .5em 0 1em 1.5em;

}

code{
    background: #f7f7f7;
    border-radius: .35em;
    border: 2px solid #efefef;
    font-size: .9em;
    padding: 0.25em 0.65em;
    font-family: 'Courier New', Courier, monospace;
    color: 929292;
    /* display: block; */
}

pre code{
    display: block;
}

ul, ol{
    margin: 0;
    padding: 0;
    padding-left: 1.1em;
}

li{
    padding-left: .5em;
}

.ul-alternate{
    list-style-type: none;
    padding: 0;
}

.ul-alternate li{
    border-bottom: 1px solid #e6d9d9;
    padding: .5em 0;
}

.ul-alternate li:last-child{
    border-bottom: none;
    margin-bottom: 50px;
}

.ul-icons{
    list-style-type: none;
    padding: 0;

}

.ul-icons li{
    display: inline-block;
    font-size: 2em;
    color: #e3b6a7;
}

.button-default{
    display: inline-block;
    background-color: #49bf9d;
    border: 2px solid #49bf9d;
    color: #fff;
    padding: .75em 1.5em; 
    border-radius: 5px;
    font-size: .8em;
}

.button-default-stroke{
    background-color: white;
    border: 2px solid #efefef;
    color: inherit;
}

.button-default-small{
    font-size: .6em;

}

.button-default-full{
    display: block;
    text-align: center;
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(../images/overlay.png), url(../images/bg.jpg);
    background-position: center top;
    background-size: auto, cover;
    text-align: right;
}

.main-header-title{
    font-size: 28px;
    line-height: 1.5;
    color: #fff;
    font-weight: normal;
    color: rgb(255, 255, 255, 0.5);

}

.main-header-title strong{
    color: white;
    font-weight: bold;
}

.main-header-link{
    color: inherit;
}
.main-header-link:hover{
    color: #49c0f0;
}

.main-content{
    width: 65%;
    margin-left: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
}

.row{
    overflow: auto;

}

.col-2{
    width: 50%;
    float: left;
}