*{ /* Estes são parametros para toda nossa aplicação*/
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

header{
    height: 50px;
    background-color: bisque;
    display: flex;
    align-items: center;
}

header h3{
    margin-left: 10px;
    font-size: 20px;
    color: #000;
}

.porkemons-container{
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px){
    header{
        align-items: center;
        justify-content: center;
    }
}
    
