body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    margin: 0;
}

.hero{
    background-image: url(../assets02/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid #ccc;
}

.hero nav ul{
    text-align: right;
    margin: 20px 50px 0 0; /*top, direira, baixo, esquerda*/
}

.hero nav li{
    display: inline-block;
    margin: 0 10px;
    margin: 10px;
    border: 1px solid #fff;
}

.hero nav a{
    background: rbga(231, 220, 220, 0.1);
    display: block;
    padding: 10px;
    color: rgb(122, 106, 106);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.hero nav a:hover{
    background: rgba(231, 220, 220, 0.5);
    color: rgb(122, 106, 106);
}

.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content p{
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.hero-content h1{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 3px 3px 5px #000;
}
/* THIS IS ANOTHER */

main{
    width: 80%;
    margin: auto;
    background-color: #c9bebe;
}

.content-section{
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    overflow: auto;
}

.card{
    width: 32%;
    float: left;
    box-sizing: border-box;
    margin-left: 1%;

}

.card img{
    width: 100%;
    display: block;
}

.card p{
    background-color: black;
    color: white;
    margin: 0;
    padding: 20px;
}

footer{
    background-color: #ccc;
    padding: 20px;
    text-align: right;
    color: black;
    margin-bottom: 15px;
    background-color: #c9bebe;
}